
@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Manu Costume</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/bun-Js-jquery")

</head>
<body style="font-style: oblique;">

    <table>
        <tr>
            <td valign="top" class="cellpad">
                <h4 h1 style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;text-align:center">About us</h4>

                <br />
                <strong>Owner Desk</strong>
                <br />
                <img src="~/images/Owner.jpg" alt="EruKonda Nag - Managing Director" width="121" height="146" align="left" style="padding:2px; border:1px solid #ccc; margin:2px 10px 0 0">
                Manu Costume Designer Proprietor. EruKonda Nag
                is a dynamic man of vision and foresight with the ability
                to come up with creative inputs and positive ideas. Backed
                by a wealth of 20 years sales & marketing experience
                in India and abroad, with the added advantage of working
                for some of the finest big multinational companies. Well
                qualified with a Masters Degree in management, he remains
                a powerful force behind the meteoric rise of the firm
                into a respected and quality one that offers pure, rich
                and tasteful garments which transforms a wearer’s
                personality.
                <p>
                    Being a man of culture and taste, he worked as a cultural
                    secretary for an organisation called Rasamayi, Dubai and
                    hosted many cultural events anchoring and compeering numerous
                    culture and fashion shows.
                </p>
                <br />
                <p>Established in 1990, Manu Costume Designer introduces itself as a well established Company dealing with dance & stage costumes for the past 30 years in Hyderabad. Many renowned make-up artists and costume designers started their career with us and established their own firms.</p><p>
                    <br />
                    <strong>Manu Costume Designer</strong>
                <p> has earned an enviable reputation as a reliable, efficient and popular firm that sticks to time deadlines, 100% control on delivery, quality and price of the orders. Experts check and examine each roll of cloth for the quality & ensure its excellence, PLUS train and supervise our staffs to offer the best available material.</p>
                <br />
                <strong>Manu Costume Designer</strong> <p>Manu Costume Designer offers its costumes for Cinema and TV Shootings, Stage dramas & Dances, School/College PROGRAMS & all ceremonial functions which are meant for different shades of characters such as Mythological, Historical, Social, Fancy Dresses, Mask, Religious & Political Characters and Indian Classical & Folk Dances.</p>
                <br />

                <p>Catering to a clientele base from diversified and different backgrounds and cultures, the growth has been impressive despite numerous bottlenecks. Manu Costume Designer understands the needs of its customers and with its ample supply of resources, expertise and long-run experience, believes deeply that high quality costumes offered for sale and satisfactory services.</p>
                <br />
                <p>A pioneer in Costumes & Make-Up, Manu Costume Designer remains your best bet for a dream wardrobe of exotic dresses to light up the screen and stage shows.</p>
                </tr>
        </table>
</body>
</html>


