
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Manu Costume</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/bun-Js-jquery")

    
</head>

<body style="background-color:#47b2b8">
   
    <div class="col-lg-12">
        <h4 h1 style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;text-align:center">Contac Us</h4>
        <div class="panel panel-default">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered">
                <tbody style="background-image: url('../../images/Abstract-Solid-ColorBackground.jpg');">
                    <tr>
                        <td>Address: Plot No. 377 and 378</td>
                    </tr>
                    <tr>
                        <td>Road No 10,Thirumala Hills Colony,Meerpet, Near Ramalayam Temple</td>
                    </tr>
                    <tr>
                        <td>Hyderabad, Telangana 500097</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered">
                <tbody style="background-image: url('../../images/Abstract-Solid-ColorBackground.jpg');">
                    <tr>
                        <td>Contact No :<a href="//api.whatsapp.com/send?phone=9700724233&text=Hi please call me"><strong>09700724233</strong></a></td>
                    </tr>
                    <tr>
                        <td>Email 1  : <a href="mailto:nagesh.manucostumes@gmail.com"><strong>nagesh.manucostumes@gmail.com</strong></a></td>
                        <td>Email 2  :<a href="classicaldancedresses@manucostumes.com"><strong>classicaldancedresses@manucostumes.com</strong></a></td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered">
                <tbody>
                    <tr>
                        <td><strong>Map Location</strong></td>
                    </tr>
                    <tr>
                        <td><iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d121844.30051782656!2d78.45281256641513!3d17.38131714532294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d17.439129599999998!2d78.4859136!4m5!1s0x3bcba268da90b983%3A0x6f88fc392017cb58!2smanu%20costume!3m2!1d17.3191517!2d78.534568!5e0!3m2!1sen!2sin!4v1632118985063!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></td>
                    </tr>

                </tbody>
            </table>

        </div>
        </div>
</body>

</html>